:root {
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
}
nav, .findOut h2, .insureHead h1{
    font-family: 'DM Serif Display', serif;
}
nav{
    width: 100vw;
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 30px;
}

nav header{
    display: flex;
    justify-content: flex-start;
}

.hamburger{
    display: flex;
    padding-left: 10rem;
    /* justify-content: flex-end; */
}

.close{
    display: none;
}

ul{
    list-style-type: none;
}

.navLinks{
    background: hsl(256, 26%, 20%) url(../images/bg-pattern-mobile-nav.svg) bottom no-repeat;
    width: 100vw;
    height: 80vh;
    display: none;
}

.navLink{
    display: none;
}

.navLinks a{
    color: var(--color-white);
    text-transform: uppercase;
}

.top{
    position: relative;
    padding-bottom: 40px;
}

.topImage{
    width: 100vw;
    height: 430px;
    background-image: url(../images/image-intro-mobile.jpg);
}

.bgRight, .bgLeft{
    display: none;
}

.insureHead{
    background-color: hsl(256, 26%, 20%);
    padding: 50px 20px;
    width: 100vw;
    height: 500px;
    position: relative;
    /* background-image: url(../images/bg-pattern-intro-left-mobile.svg), url(../images/bg-pattern-intro-right-mobile.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat; */
}

.insureHead h1{
    color: var(--color-white);
    text-align: center;
    font-weight: 900;
    font-size: 37.1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bgMobileRight{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.bgMobileLeft{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.insureHead p{
    color: hsl(216, 30%, 68%);
    margin-bottom: 40px;
    line-height: 30px;
}

.insureHead a{
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 6px;
}

.different{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.about p{
    color: hsl(216, 30%, 68%);
    padding: 30px 20px;
    line-height: 20px;
}

.about h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.top hr{
    display: none;
}
   
.aboutSec hr{
    display: flex;
    justify-content: center;
    margin: 0px auto 60px auto;
    width: 100px;
    height: 2px;
}

.findOut{
    margin: auto;
    padding: 30px;
    width: 90vw;
    height: 300px;
    background: hsl(256, 26%, 20%) url(../images/bg-pattern-how-we-work-mobile.svg) right no-repeat;
}

.findOut h2{
    color: var(--color-white);
    margin-bottom: 30px;
    font-weight: 400;
}

.findOut button{    
    color: var(--color-white);
    border: 2px solid white;
    padding: 10px;
    background-color: transparent;
}

footer{
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: hsl(0, 0%, 98%);
    padding: 80px 20px;
    text-transform: uppercase;
}

.mediaIcons{
    margin-bottom: 20px;
    padding-right: 12px;
}

footer header{
    font-weight: bold;
    margin: 30px auto;
}

footer li{
    margin: 10px auto;
}

@media only screen and (min-width: 1044px){
    body{
        text-align: left;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100vw;
        padding: 20px 150px;
    }
    
    .hamburger{
        display: none;
    }
    
    .navLink{
        background-color:var(--color-white);
        background-image: none;
        height: 50px;
        display: flex;
        justify-content: flex-end;
    }

    .navLink ul{
        display: flex;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    .navLink a{
        color: hsl(273, 4%, 51%);
        padding-right: 20px;
    }

    .navLink .btn{
        border: 1px solid #000000;
        background-color: var(--color-white);
        color: #000000;
        padding: 5px 12px;
        text-transform: uppercase;
    }

    .navLinks{
        display: none;
    }
    
    .topImage{
        width: 500px;
        height: 750px;
        position: absolute;
        z-index: 1;
        margin-top: 50px;
        margin-left: 700px;
        background: url(../images/image-intro-desktop.jpg) no-repeat;
        background-size: contain;
        overflow: hidden;
    }

    .top{
        background-color: var(--color-white);
        width: 100vw;
        height: 800px;
        position: relative;
    }

    .bgRight{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }

    .bgLeft{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
    }
    
    .top hr{
        width: 100px;
        height: 2px;
        background-color: hsl(216, 30%, 68%);
        display: flex;
        justify-content: flex-start;
    }

    .insure{
        background-color: hsl(256, 26%, 20%);
        background-blend-mode: soft-light;
        background-image: none;
        position: relative;
        width: 100vw;
        height: 450px;
    }

    .insureHead hr{
        width: 100px;
        height: 2px;
        background-color: hsl(216, 30%, 68%);
        justify-content: flex-start;
    }
    
    .insureHead{
        padding: 50px 100px;
        width: 50vw;
        height: 350px;
        position: absolute;
        background-image: none;
    }
    
    .insureHead h1{
        color: var(--color-white);
        text-align: left;
        font-weight: 900;
        font-size: 37.1px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .insureHead p{
        color: hsl(216, 30%, 68%);
        margin-bottom: 40px;
        line-height: 30px;
    }
    
    .insureHead a{
        color: var(--color-white);
        border: 2px solid white;
        padding: 6px;
    }

    .bgMobileRight, .bgMobileLeft{
        display: none;
    }

    #aboutUs{
        display: flex;
        padding: 40px 120px;
        justify-content: space-between;
    }
    
    .different{
        padding-left: 120px;
    }
    
    .about p{
        padding: 30px 0px;
        line-height: 20px;
        width: 350px;
    }
    
    .about h3{
        font-weight: 700;
        font-size: 25px;
        margin-top: 30px;
    }
    
    .aboutSec hr{
        display: flex;
        justify-content: flex-start;
        margin: 0px;
        margin-left: 120px;
        margin-bottom: 60px;
        width: 100px;
        height: 2px;
    }
    
    .findOut{
        display: flex;
        justify-content: space-between;
        padding: 40px 120px;
        width: 90vw;
        height: 200px;
        background: hsl(256, 26%, 20%) url(../images/bg-pattern-how-we-work-desktop.svg) right no-repeat;
    }
    
    .findOut h2{
        color: var(--color-white);
        margin-bottom: 30px;
        font-size: 37px;
        width: 330px;
    }
    
    .findOut button{ 
        height: 33px;   
        color: var(--color-white);
        border: 1px solid white;
        background-color: transparent;
        padding: 10px;
        display: flex;
        margin: auto 0px;
        justify-content: flex-end;
    }
    
    footer{
        background: hsl(0, 0%, 98%) url(../images/bg-pattern-footer-desktop.svg) top left no-repeat;
        padding: 120px 20px;
    }

    .footerHead{
        display: flex;
        justify-content: space-between;
        padding: 10px 250px;
    }

    .footerHead header{
        display: flex;
        justify-content: flex-start;
    }

    footer header{
        font-weight: bold;
        margin: 0px;
    }

    footer hr{
        margin: 10px 120px;
    }

    .wrap{
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }
}